{
	"parserOptions": {
		"ecmaVersion": 2017
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"browser": true,
	},
  "extends": "eslint:recommended",
  "rules": {
    "indent" : ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],

    "no-empty": "warn",
    "no-cond-assign": ["error", "always"],

    "for-direction": "off",
  },
}
